.url-image-wrapper {
    width: 48.00%;
    height: auto;
    float: left;
    overflow: auto;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    margin: 1%;
}

div.image-wrapper div {
    font-size:small;
    width: 36%;
    height: auto;
    float: left;
}

img {
    width: 60%;
    height: auto;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 1rem;
}