{% extends "_base.html" %}

{% block title %}Contacto{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{{ static('css/contact.css') }}">
{% endblock style %}

{% block content %}
    <div class="div-body-contact">
        <h1>Cómo contactarnos</h1>
        <p>No dude en comunicarse con nosotros al <b>WhatsApp 32086397111.</b></p>
        <h3>Escríbenos!</h3>
        <form method="post">
            {{ csrf_input }}
            {{ form.as_p() }}
            <button type="submit" class="btn btn-light" style="color: coral;">Enviar correo</button>
        </form>
    </div>
{% endblock content %}
