{% extends '_base.html' %}

{% block title %}Home{% endblock title%}

{% block style %}
    <link rel="stylesheet" href="{{ static('css/home.css') }}">
{% endblock style %}

{% block content %}
<h1>Nuestros modelos</h1>
<div class="images-container">
    {% for shoe in shoes %}
    <div class="url-image-wrapper">
        <a id="{{ shoe.pk }}" href="{{ shoe.get_absolute_url() }}">
            <div class="image-wrapper"">
                <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}" width="50%">
                <div class="name">{{shoe.name}}</div>
                <div class="price">${{shoe.price}}</div>
                <div class="description">{{shoe.description}}</div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}

{% if user.is_authenticated %}
    <p>Hello {{ user.email }} </p>
    <form method="post" action="{{ url('logout') }}">
        {{ csrf_input }}
        Click if you want to
        <button type="submit">
            Logged Out
        </button>
    </form>
{% endif %}

{% block script %}
    <script src="{{ static('js/home.js') }}"></script>
{% endblock %}