/* To know where was originally located the file */
/* static/css/base.css */

a.core-url {
    color: burlywood;
}

body {
    min-height: 75rem;
    padding-top: 0rem;
}

div.content-container {
    margin: 2.5%;
}

div.images-container, div.contact-container {
    overflow: auto;
    text-align: left;
    background-color: #efefef;
    border-radius: 1rem;
    padding: 1%;
}