.home {
    margin: 2.5%;
}

div.images-container {
    overflow: auto;
    text-align: center;
    background-color: #efefef;
    border-radius: 2%;
    padding: 1%;
}

.url-image-wrapper {
    width: 48.0014%;
    height: auto;
    float: left;
    overflow: auto;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    margin: 1%;
}

.text-overlay {
    font-size:smaller;
    width: 36%;
    height: auto;
    float: left;
}

img {
    width: 60%;
    height: auto;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 1rem;
}