<!-- templates/shoes/shoe_list.html -->
{% extends "_base.html" %}

{% block title %}Modelos{% endblock title %}

{% block content %}
<h1>Modelos</h1>
    {% for shoe in shoes %}
    <div>
        <a href="{{ shoe.get_absolute_url() }}">
            <h2>{{ shoe.name }}</h2>
            <img src="{{ shoe.image.url }}" alt="{{ shoe.name }}">
        </a>
        <p>Company: {{ shoe.company }}</p>
        <p>Description: {{ shoe.description }}</p>
        <p>Price: {{ shoe.price }}</p>
    </div>
    {% endfor %}
{% endblock content %}