<!-- templates/shoes/shoe_purchase.html -->
{% extends '_base.html' %}

{% block title %}Purchase {{ shoe.name }}!{% endblock title %}

{% block content %}
<div>
    <img class="shoe-image" src="{{ shoe.image.url }}" alt="{{ shoe.name }}">
    <h2><a href="{{ shoe.get_absolute_url() }}" class="core-url">{{ shoe.name}}</a></h2>
    <p>Descripción: {{shoe.description}} </p>
    <p>Price: {{shoe.price}}</p>
</div>

<form method="post" action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">
    <input name="signature" type="hidden" value="{{ signature }}">
    <input name="referenceCode" type="hidden" value="PAGO003">
    <input name="merchantId" type="hidden" value="{{ MERCHANT_IDDev }}">
    <input name="accountId" type="hidden" value="{{ USER_IDDev }}">
    <input name="description" type="hidden" value="Purchase {{ shoe.name }}-{{ shoe.company }}-${{ shoe.price }}-{{ shoe.pk }}">
    <input name="amount" type="hidden" value="{{ shoe.price }}"">
    <input name="tax" type="hidden" value="0">
    <input name="taxReturnBase" type="hidden" value="0">
    <input name="currency" type="hidden" value="COP">
    <input name="test" type="hidden" value="1">
    <input name="buyerEmail" type="hidden" value="nicalcoca@gmail.com">
    <input name="responseUrl" type="hidden" value="https://blue-rice-hide.loca.lt/">
    <input name="confirmationUrl" type="hidden" value="https://blue-rice-hide.loca.lt/">
    <input name="shippingAddress" type="hidden" value="carrera 67 n 42 - 15">
    <input name="shippingCity" type="hidden" value="Bogotá">
    <input name="shippingCountry" type="hidden" value="CO">
    <input name="Submit" type="submit" value="Send">
</form>

{% endblock content %}


{% block script %}
    <script src="{{ static('js/purchase.js') }}"></script>
{% endblock %}
